* {
  padding: 0%;
  margin: 0%;
}
body {
  background: linear-gradient(#ffffff, #a6e1fa);
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  height: 95px;
  background-color: #00072d;
  display: flex;
  justify-content: space-between;
}
#logo2 {
  height: 80px;
  margin: 2px;
  padding: 2px;
  border: 2px solid #0e6ba8;
  border-radius: 5px;
}
.homeImage a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation a {
  margin: 2px;
  padding: 2px;
  border: 2px solid #0e6ba8;
  border-radius: 5px;
  color: #a6e1fa;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav div:hover:not(.active) {
  padding: 2px;
  background-color: #00072d;
}
main {
  flex: 1;
  /* background-color: pink; */
  font-family: inherit;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-bottom: 100px; */
}
.form {
  width: 40%;
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* .list {
  width: 50%;
  margin: 15px;
} */
.red {
  background-color: red;
  color: #ffffff;
}
.white {
  background-color: orangered;
  color: black;
}
input {
  border: 1px solid black;
  border-radius: 2px;
}
.thankYou {
  visibility: hidden;
  border: 1px solid #00072d;
  border-radius: 5px;
  background-color: #00072d;
  color: #a6e1fa;
  padding: 4px;
  margin: 5px;
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  background-color: #0e6ba8;
  color: white;
  margin: 3px;
}
.highlight {
  background-color: #00072d;
}
footer {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 8px;
}
