* {
  padding: 0%;
  margin: 0%;
}
body {
  background: linear-gradient(#ffffff, #a6e1fa);
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  flex: 0.1;
  height: 95px;
  background-color: #00072d;
}
nav img {
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}
nav ul li {
  border: 2px solid #0e6ba8;
  border-radius: 5px;
}
nav ul li a {
  color: #a6e1fa;
  text-decoration: none;
}
nav ul li a:hover:not(.active) {
  padding: 1px;
  background-color: #0e6ba8;
}
main {
  flex: 1;
  /* background-color: pink; */
  font-family: inherit;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  /* margin-bottom: 100px; */
}
.form {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.red {
  background-color: red;
  color: #ffffff;
}
.white {
  background-color: orangered;
  color: black;
}
input {
  border: 1px solid black;
  border-radius: 2px;
}
footer {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 8px;
}
